.carousel-item{
  height: 100vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size:cover;
}
.carousel-caption{
  bottom: 270px;
}
.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2px;
  text-shadow:1px 1px slategray;
}
.carousel-caption h6{
  font-size: 60px;
  text-shadow:1px 1px slategray;
}
.carousel-caption p{
  width: 75%;
  margin: auto;
  font-size: 30px;
  line-height: 1.9;
  text-shadow:1px 1px rgb(172, 173, 175);
}

.navbar-light .navbar-brand{
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white
}
.navbar-toggler {
	background: rgb(14, 13, 13);
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: rgb(7, 7, 7);
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(5, 5, 5);
}
.dropdown-toggle::after { 
  content: none; 
} 
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-header{
  text-emphasis: none;
  font-size: 18px;
  font-family:'Open Sans Condensed';
  color: black;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}
.wrapper{
  position:fixed;
  margin-left: 455px;
  margin-right: 200px;
}
.search_box input[type="text"]{
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  background: rgba(39, 39, 39, 0.3);
  border: 1px solid rgb(235, 233, 233);
  border-radius: 15px;
  font-size: 18px;
  color: rgb(236, 231, 231);
  outline:rgb(255, 253, 253);
  padding: 20px;
}
button{
  height: 10px;
  padding: 0;
  border: none;
  margin-right: 20;
  vertical-align: top;
  background:none;
  cursor: pointer;
}

#navbar-cart img {
  display: block;
  height: 30px;  
  width: 30px;
  margin-right: 20px;
  margin-top: 0px;
}
.navbar-cart:focus {
  outline: 0 !important;
}
.navbar-cart:hover{color: rgb(5, 5, 5);}




